//HTML

body {
	font-family: "Roboto", sans-serif;
	transition: all 0.5s;
}

p {
	margin-bottom: 0px;
	font-size: 14px;
	color: #4a4a4a;
	line-height: 24px;
}

a {
	text-decoration: none !important;
}

//Classes

.copyright-text {
	text-transform: uppercase;
}

::placeholder {
	color: #fff;
}

#email {
	position: relative;
}

.invalid {
	border-color: #f00;
}

.text-muted {
	display: none;
}

.darkModei {
	content: url("../images/dark-mode.png");
}

.whiteModei {
	content: url("../images/white-mode.png");
}

textarea {
	resize: none;
}

#modal-pedro > div > div > div.modal-body {
	background-color: transparent;
}

#modal-pedro > div > div {
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 40px;
	width: 360px;
	height: 300px;
}

#modal-pedro > div > div > div.modal-header {
	background-color: transparent;
}

#emails::placeholder {
	color: white;
}
