.blocks {
	/* 
   ## BEM CSS = Block Element Modifier
    - Melhor noção de como organizar o CSS, ficar mais fácil de ser entendida
    - Padrão do Projeto / Design Paterns
    - Exemplo: .cars__title :: Sass: &__title
    - cars__title
    - cars__list
    - cars__item
    - cars__item--destack
    - cars__img-container
    - cars__button 
        */

	padding: 3rem 0;

	&__title {
		color: $color-01;
	}

	&__list {
		list-style-type: none;
		font-size: $font-small;
		display: flex;
		justify-content: space-between;
		height: auto;
		padding: 1rem 0;
		width: 100%;

		@media (max-width: $tablet) {
			display: block;
			float: left;
		}
	}

	&__img-container {
		display: block;
		height: 15rem;
		overflow: hidden;
		width: 100%;
		@media (max-width: $tablet) {
			height: 20rem;
		}
	}

	&__item {
		color: $color-02;
		display: block;
		margin: $space-default auto;
		width: 33%;
		text-align: center;

		@media (max-width: $tablet) {
			width: calc(99% - 30px);
		}
	}

	&__button {
		background-color: $darkSecondary;
		border-radius: 5px;
		color: white;
		display: inline-block;
		font-size: $font-medium;
		margin: $mt-02 auto $mb;
		padding: 0.5rem 3rem;
		text-align: center;
		text-decoration: none;
	}
}
