.cars { //É possível definir regras elementos dentro de classes para fácil organização
    h2 {
        color: $colorHighlight;
        margin-left: 15px;
    }
    li {
        color: $defaultTertiary;

        a {
            background-color: $colorBlack;
        }
    }
}

