@mixin theme($theme: $color-01, $bg: $color-04) {
    border: 1px solid $theme;
    background-color: $bg;
}

.cars { //É possível definir regras elementos dentro de classes para fácil organização
    h2 {
        @include theme($theme: Black);
        color: $colorHighlight;
        margin-left: 15px;
    }

    .destack {
        @include theme;
    }
    li {
        color: $defaultTertiary;

        a {
            background-color: $colorBlack;
        }

    }
}

