.destack {
    background-color: $defaultPrimary;
    &__title {
        color: $defaultTertiary;
        font-size: $fontBig;
        float: left;
        margin-left: 20px;
    }

    &__subtitle {
        float: left;
        font-size: $fontSmall;
        color: $colorBlack;
        margin-top: 1.5rem;
        margin-left: 10px;
    }

    &__img {
        width: 100%;
        height: auto;
        margin: $space-default;
        border-radius: 20px;
    }

    &__description {
        font-size: $fontMedium;
        color: $colorBlack;
        font-weight: 700;
        text-align: center;
    }
}

.destackb {
    background-color: $darkTertiary;
    &__title {
        color: $defaultTertiary;
        font-size: $fontBig;
        float: left;
        margin-left: 20px;
    }

    
    &__subtitle {
        float: left;
        font-size: $fontSmall;
        color: $colorWhite;
        margin-top: 1.5rem;
        margin-left: 10px;
    }

    &__img {
        width: 100%;
        height: auto;
        margin: $space-default;
        border-radius: 20px;
    }

    &__description {
        font-size: $fontMedium;
        color: $colorWhite;
        font-weight: 700;
        text-align: center;
    }
}