.header {

   &__logo {
      height: 140px;
      width: 140px;
      max-width: 100%;
      cursor: pointer;
   }

   &__profile {
      height: 100px;
      width: 100px;
      float: left;
      max-width: 100%;
      border-radius: 50%;
      margin-left: 1.5rem;
      margin-top: 1.5rem;
      cursor: pointer;
   }

    &__button {
      height: 40px;
      width: 40px;
      float: right;
      max-width: 100%;
      border-radius: 50%;
      margin-right: 1.5rem;
      transform: translateY(40px);
      cursor: pointer;
   }

   .default {
      content: url(../images/dark.webp);
   }

   .dark {
      content: url(../images/light.png);
   }

   div.header {
      width: 50%;
      margin: 0 auto;
   }

}