.aboutme {
	width: 300px;
	height: 200px;
	margin: 0 auto;
	border-radius: 15px;

	&__name {
		color: $colorBlack;
		font-size: $fontMedium;
	}

	&__description {
		color: $colorBlack;
		font-size: $fontBig;
	}
}

.aboutmeimg {
	width: 140px;
	height: 140px;
	border-radius: 50%;
	margin: 0 auto;
	width: 50%;

	&__img {
		position: relative;
		overflow: hidden;
		max-width: 100%;
		border-radius: 50%;
		margin: 0 auto;
		bottom: 50px;
		&:hover {
			box-shadow: 0 0 10px black;
		}
	}
}

.aboutmetxt {
	&__description {
		position: relative;
		bottom: 50px !important;
		text-align: center;
		font-size: $fontMedium;
		font-weight: 600;
	}

	&__name {
		position: relative;
		bottom: 40px;
		text-align: center;
		font-size: $fontBig;
	}
}

.aboutmebtn {
	width: 90%;
	margin: 0 auto;

	&__button {
		position: relative;
		width: 49%;
		bottom: 54px;
		color: $colorWhite;
		font-size: $fontMedium;
		&:hover{
			box-shadow: 0 0 5px black;
		}
	}
}

#modal-pedro > div > div > div.modal-body {
	background-color: transparent;
}

#modal-pedro > div > div {
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 40px;
	width: 360px;
	height: 222px;
}

#modal-pedro > div > div > div.modal-header {
	background-color: transparent;
}

#ThanksUniverse:hover {
	color: $colorHighlight !important; 
}

