.aboutme {
	width: 300px;
	height: 200px;
	margin: 0 auto;
	border-radius: 15px;

	h3 {
		color: $colorBlack;
		font-size: $fontMedium;
	}

	h5 {
		color: $colorBlack;
		font-size: $fontBig;
	}
}

.aboutmeimg {
	width: 140px;
	height: 140px;
	border-radius: 50%;
	margin: 0 auto;
	width: 50%;

	img {
		position: relative;
		overflow: hidden;
		max-width: 100%;
		border-radius: 50%;
		margin: 0 auto;
		bottom: 50px;
	}
}

.aboutmetxt {
	h5 {
		position: relative;
		bottom: 50px !important;
		text-align: center;
	}

	p,
	h3 {
		position: relative;
		bottom: 40px;
		text-align: center;
	}
}

.aboutmebtn {
	width: 90%;
	margin: 0 auto;

	a {
		position: relative;
		width: 49%;
		bottom: 54px;
		color: $colorWhite;
		font-size: $fontMedium;
	}
}

#modal-pedro > div > div > div.modal-body {
	background-color: transparent;
}

#modal-pedro > div > div {
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 40px;
	width: 360px;
	height: 222px;
}

#modal-pedro > div > div > div.modal-header {
	background-color: transparent;
}
