//TODO: Reorganizar todas regras
//TODO: Criar variáveis
//TODO:

.main-button {
	a {
		background-color: #3a8bcd;
		border-radius: 5px;
		padding: 10px 15px;
		display: inline-block;
		color: #fff;
		font-size: $fontSmall;
		text-transform: uppercase;
		font-weight: 300;
		letter-spacing: 0.4px;
		text-decoration: none;
		transition: all 0.5s;

		&:hover {
			opacity: 0.7;
		}
	}
}

.section-heading {
	margin-top: 80px;
	margin-bottom: 40px;

	.line-dec {
		width: 30px;
		height: 5px;
		background-color: #3a8bcd;
	}

	h1 {
		font-size: 22px;
		font-weight: 700;
		color: #1e1e1e;
		margin-top: 15px;
	}
}

/* Pre Header Style */
#pre-header {
	background-color: #3a8bcd;
	text-align: center;

	span {
		color: #fff;
		font-size: 15px;
		padding: 10px 0px;
		display: inline-block;
	}
}

/* Header Style */
.navbar {
	.navbar-brand {
		text-align: center;
		width: 100%;
		position: relative;
		padding: 25px 0px;
	}
}

#navbarResponsive {
	z-index: 999;
	position: absolute;
	left: 50%;
	top: 128px;
	transform: translateX(-50%);
}

.navbar-dark {
	.navbar-nav .nav-item {
		margin: 0px 15px;
	}

	.navbar-nav .nav-link {
		text-transform: uppercase;
		font-size: 15px;
		font-weight: 700;
		color: #1e1e1e;
		transition: all 0.5s;
	}

	.navbar-nav .nav-link:hover,
	.navbar-nav .active > .nav-link,
	.navbar-nav .nav-link.active,
	.navbar-nav .nav-link.show,
	.navbar-nav .show > .nav-link {
		color: #3a8bcd;
	}

	.navbar-toggler-icon {
		background-image: none;
	}

	.navbar-toggler {
		border-color: #3a8bcd;
		background-color: #3a8bcd;
		height: 50px;
		outline: none;
	}
	.navbar-toggler-icon:after {
		content: "\f0c9";
		color: #fff;
		font-size: 22px;
		line-height: 30px;
		font-family: "FontAwesome";
	}

	.navbar-nav .nav-item {
		border-bottom: 1px solid #eee;
	}

	.navbar-nav .nav-item:last-child {
		border-bottom: none;
	}

	.navbar-nav .nav-link {
		padding: 15px 0px;
	}
}

.navli {
	font-size: 15px;
	font-weight: 700;
	color: $colorWhite !important;
	transition: all 0.5s;
}

.navbar:after {
	width: 100%;
	height: 1px;
	background-color: #eee;
	content: "";
	position: absolute;
	left: 0;
	bottom: -52px;
}

/* Banner Style */
.banner {
	margin-top: 50px;
	background-image: url(../images/banner-bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	padding: 150px 0px;
	background-position: center center;
	.caption {
		background-color: rgba(250, 250, 250, 0.9);
		padding: 30px;
		max-width: 450px;
	}
	.caption h2 {
		margin-top: 0px;
		margin-bottom: 15px;
		font-size: 24px;
		font-weight: 700;
		color: #1e1e1e;
	}
	.caption .line-dec {
		width: 30px;
		height: 5px;
		background-color: #3a8bcd;
	}
	.caption p {
		margin-top: 15px;
		margin-bottom: 20px;
	}
}

/* Featured Style */
.featured-items {
	margin-bottom: 70px;
}
.featured-item {
	border-radius: 5px;
	border: 1px solid #eee;
	padding: 20px;
	transition: all 0.5s;
	&:hover {
		opacity: 0.9;
	}
	img {
		width: 100%;
	}
	h4 {
		font-size: 17px;
		font-weight: 700;
		color: #1e1e1e;
		margin-top: 15px;
		transition: all 0.5s;
	}
	&:hover h4 {
		color: #3a8bcd;
	}
	h6 {
		color: #3a8bcd;
		font-size: 15px;
		font-weight: 700;
		margin-bottom: 0px;
	}
}
.owl-theme {
	.owl-dots {
		text-align: center;
		margin-top: 30px;
	}
	.owl-dots .owl-dot {
		outline: none;
	}
	.owl-dots .active span {
		background-color: #3a8bcd !important;
	}
	.owl-dots .owl-dot span {
		background-color: #aaa;
		width: 8px;
		height: 8px;
		display: inline-block;
		margin: 0px 5px;
		outline: none;
	}
}

/* Subscribe Style */
.subscribe-form {
	background-color: #3a8bcd;
	padding: 80px 0px;
	text-align: center;

	.section-heading {
		margin-top: 0px;
	}
	.section-heading h1 {
		color: #fff;
	}
	.section-heading .line-dec {
		background-color: #fff;
		margin: 0 auto;
	}
	.main-content p {
		font-size: 17px;
		color: #fff;
		margin-bottom: 30px;
	}
	.main-content form {
		color: #fff;
		display: inline;
	}
	.main-content form input {
		display: inline;
	}
	.main-content form input {
		width: 100%;
		height: 46px;
		border: 1px solid #fff;
		background-color: transparent;
		padding-left: 15px;
		color: #fff;
		outline: none;
	}
	.main-content form button:focus {
		color: #fff !important;
	}
	.main-content form button {
		width: 100%;
		height: 45px;
		cursor: pointer;
		background-color: #fff;
		outline: none;
		border-radius: 5px;
		padding: 10px 15px;
		display: inline-block;
		color: #3a8bcd;
		font-size: $fontSmall;
		text-transform: uppercase;
		font-weight: 300;
		letter-spacing: 0.4px;
		text-decoration: none;
		transition: all 0.5s;
		box-shadow: none;
		border: none;
	}
}
/* Footer Style */
.footer {
	text-align: center;
	.footer ul {
		padding: 0px;
		margin: 0px;
	}
	ul li {
		list-style: none;
		display: inline-block;
	}
	.logo img {
		max-width: 100%;
		margin-top: 60px;
		margin-bottom: 40px;
	}
	.footer-menu {
		margin-bottom: 40px;
		ul li {
			margin: 0px 15px;
		}
		a {
			font-size: 13px;
			color: #7a7a7a;
			text-transform: uppercase;
			transition: all 0.5s;
		}
		a:hover {
			color: #3a8bcd;
			text-decoration: none;
		}
	}
	.social-icons {
		margin-bottom: 60px;
		ul li {
			margin: 0px 10px;
		}
		a {
			width: 32px;
			height: 32px;
			color: #fff;
			background-color: #aaa;
			text-align: center;
			display: inline-block;
			line-height: 33px;
			border-radius: 50%;
			font-size: 13px;
			transition: all 0.5s;
		}
		a:hover {
			background-color: #3a8bcd;
		}
	}
}

/* Sub Footer Style */
.sub-footer {
	border-top: 1px solid #eee;
	text-align: center;
	p {
		font-size: 12px;
		color: #7a7a7a;
		line-height: 60px;
	}
	a {
		color: #3a8bcd;
		text-decoration: none;
	}
}

/* Featured Page Style */
.featured-page {
	margin-top: 130px;
	margin-bottom: 40px;
	.section-heading {
		margin-top: 0px;
		margin-bottom: 0px;
	}
	#filters {
		margin-top: 15px;
		text-align: right;
	}
}
.featured {
	.featured-item {
		margin-bottom: 30px;
		text-decoration: none;
		.featured-item h4 {
			transition: all 0.5s;
		}
		.featured-item:hover h4 {
			color: #3a8bcd;
		}
	}
}

/* Responsive Style */
@media (max-width: 991px) {
	.banner {
		border-top: none;
		margin-top: 0px;
	}
	.navbar .navbar-brand {
		width: auto;
	}
	.navbar:after {
		display: none;
	}
	#navbarResponsive {
		z-index: 99999;
		position: absolute;
		top: 96px;
		width: 100%;
		text-align: center;
		background-color: rgba(250, 250, 250, 0.95);
		box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
	}

	.featured-page #filters {
		text-align: right;
	}
	.single-product .right-content {
		margin-top: 30px;
	}
	.about-page .right-content {
		margin-top: 30px;
	}
	.contact-page .right-content {
		margin-top: 30px;
	}
	.contact-page .right-content .col-md-6,
	.contact-page .right-content .col-md-12 {
		padding: 0px;
	}
	.featured-page {
		margin-top: 80px;
	}
	.about-page,
	.contact-page {
		margin-top: 0px;
	}
}

@media (max-width: 767px) {
	.subscribe-form .main-content form input.button {
		margin-top: 20px;
	}
	.featured-page #filters {
		margin-top: 15px;
		text-align: left;
	}
}

/* Pedro */
.social-icons-pedro {
	li {
		border-radius: 50%;
		margin-right: 10px;
		&:hover {
			background-color: rgb(202, 202, 202);
			filter: brightness(110%);
			transform: translateY(-1px);
		}
	}
}

.aboutme {
	width: 300px;
	height: 200px;
	margin: 0 auto;
	border-radius: 15px;

	h3 {
		color: $colorBlack;
		font-size: $fontMedium;
	}

	h5 {
		color: $colorBlack;
		font-size: $fontBig;
	}
}

.aboutmeimg {
	width: 140px;
	height: 140px;
	border-radius: 50%;
	margin: 0 auto;
	width: 50%;

	img {
		position: relative;
		overflow: hidden;
		max-width: 100%;
		border-radius: 50%;
		margin: 0 auto;
		bottom: 50px;
	}
}

.aboutmetxt {
	h5 {
		position: relative;
		bottom: 50px !important;
		text-align: center;
	}

	p,
	h3 {
		position: relative;
		bottom: 40px;
		text-align: center;
	}
}

.aboutmebtn {
	width: 90%;
	margin: 0 auto;

	a {
		position: relative;
		width: 49%;
		bottom: 54px;
		color: $colorWhite;
		font-size: $fontMedium;
	}
}

#navbarResponsive {
	ul {
		li {
			a:hover {
				color: $defaultTertiary !important;
			}
			.nav-item.active {
				a {
					color: $defaultTertiary !important;
				}
			}
		}
	}
}
