$defaultPrimary: #ededed;
$defaultSecondary: #dadada;
$defaultTertiary: #60cdff;
$fontBig: 2.0rem;
$fontMedium: 1.6rem;
$fontSmall: 1.3rem;
$colorBlack: #000 ;
$colorWhite: #fff;
$colorHighlight: #ff4040;

//DarkTheme

$darkPrimary: #000000;
$darkSecondary: #333333;
$darkTertiary: #535353;