$align: left;
$bg-color: #333;
$color-01: #fff;
$color-02: #ff0;
$color-03: #0f0;
$color-04: #888;
$color-default: #111;
$font-big: 2.4rem; 
$font-family-default: Arial, Helvetica, sans-serif;
$font-medium: 1.9rem;
$font-normal: 1.6rem;
$font-small: 1.3rem;
$mb: 1.5rem;
$mt: 1.5rem;
$mt-02: 2.4rem; //Margin-Top
$space-default: 1.5rem; //Space-Default
$tablet: 999px;
// O Título não importa, somente o valor