@charset "UTF-8";
* {
  border: 0;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

div,
p {
  display: block;
}

header,
section,
footer {
  display: block;
  margin: 0 auto;
  width: 100%;
  padding: 4rem 0;
}

section {
  padding: 0;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

img {
  width: 100%;
  height: auto;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  color: #111;
}

p {
  color: #fff;
  font-size: 1.6rem;
  margin-bottom: 1.5rem;
  text-align: left;
}

h1 {
  color: #fff;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 2.4rem;
  margin-top: 2.4rem;
}

h2 {
  color: #ff0;
  font-size: 1.9rem;
}

h3 {
  color: #0f0;
  font-size: 1.6rem;
}

header,
footer {
  background-color: #333;
}

.destack {
  background-color: #ededed;
}
.destack h1 {
  color: #60cdff;
  font-size: 2rem;
  float: left;
  margin-left: 20px;
}
.destack h2 {
  float: left;
  font-size: 1.3rem;
  color: #000;
  margin-top: 1.5rem;
  margin-left: 10px;
}
.destack img {
  width: 100%;
  height: auto;
  margin: 1.5rem;
  border-radius: 20px;
}
.destack p {
  font-size: 1.6rem;
  color: #000;
  font-weight: 700;
  text-align: center;
}

.destackb {
  background-color: #535353;
}
.destackb h1 {
  color: #60cdff;
  font-size: 2rem;
  float: left;
  margin-left: 20px;
}
.destackb h2 {
  float: left;
  font-size: 1.3rem;
  color: #fff;
  margin-top: 1.5rem;
  margin-left: 10px;
}
.destackb img {
  width: 100%;
  height: auto;
  margin: 1.5rem;
  border-radius: 20px;
}
.destackb p {
  font-size: 1.6rem;
  color: #fff;
  font-weight: 700;
  text-align: center;
}

.cars__title {
  color: #ff0;
}
.cars__item {
  border: 1px solid #ccc;
  background-color: #fff;
  color: #ff0;
  display: flex;
  float: left;
  height: max-content;
  justify-content: center;
  align-items: baseline;
  flex-flow: column;
}
.cars__item--destack {
  border: 1px solid #fff;
  background-color: #888;
}
.cars__button {
  background-color: #111;
}

.blocks {
  /* 
    ## BEM CSS = Block Element Modifier
     - Melhor noção de como organizar o CSS, ficar mais fácil de ser entendida
     - Padrão do Projeto / Design Paterns
     - Exemplo: .cars__title :: Sass: &__title
     - cars__title
     - cars__list
     - cars__item
     - cars__item--destack
     - cars__img-container
     - cars__button 
         */
  padding: 3rem 0;
}
.blocks__title {
  color: #fff;
}
.blocks__list {
  list-style-type: none;
  font-size: 1.3rem;
  display: flex;
  justify-content: space-between;
  height: auto;
  padding: 1rem 0;
  width: 100%;
}
@media (max-width: 999px) {
  .blocks__list {
    display: block;
    float: left;
  }
}
.blocks__img-container {
  display: block;
  height: 15rem;
  overflow: hidden;
  width: 100%;
}
@media (max-width: 999px) {
  .blocks__img-container {
    height: 20rem;
  }
}
.blocks__item {
  color: #ff0;
  display: block;
  margin: 1.5rem auto;
  width: 33%;
  text-align: center;
}
@media (max-width: 999px) {
  .blocks__item {
    width: calc(99% - 30px);
  }
}
.blocks__button {
  background-color: #333333;
  border-radius: 5px;
  color: white;
  display: inline-block;
  font-size: 1.9rem;
  margin: 2.4rem auto 1.5rem;
  padding: 0.5rem 3rem;
  text-align: center;
  text-decoration: none;
}

.default header {
  background-color: #dadada;
  padding: 0;
}
.default body {
  background-color: #ededed !important;
}
.default footer {
  background-color: #dadada;
}
@media (max-width: 999px) {
  .default footer {
    clear: both;
    position: relative;
    height: 10px;
    width: 100%;
  }
}

.dark {
  background-color: #333333;
}
.dark header {
  background-color: #000000;
  padding: 0;
}
.dark body {
  background-color: #333333 !important;
}
.dark footer {
  background-color: #535353;
}

.header #logo {
  height: 140px;
  width: 140px;
  max-width: 100%;
  cursor: pointer;
}
.header #profile {
  height: 100px;
  width: 100px;
  float: left;
  max-width: 100%;
  border-radius: 50%;
  margin-left: 1.5rem;
  margin-top: 1.5rem;
  cursor: pointer;
}
.header .default {
  content: url(../images/dark.webp);
  height: 40px;
  width: 40px;
  float: right;
  max-width: 100%;
  border-radius: 50%;
  margin-right: 1.5rem;
  transform: translateY(40px);
  cursor: pointer;
}
.header .dark {
  content: url(../images/light.png);
  height: 40px;
  width: 40px;
  float: right;
  max-width: 100%;
  border-radius: 50%;
  margin-right: 1.5rem;
  transform: translateY(40px);
}
.header div.header {
  width: 50%;
  margin: 0 auto;
}

.aboutme {
  width: 300px;
  height: 200px;
  margin: 0 auto;
  border-radius: 15px;
}
.aboutme h3 {
  color: #000;
  font-size: 1.6rem;
}
.aboutme h5 {
  color: #000;
  font-size: 2rem;
}

.aboutmeimg {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  margin: 0 auto;
  width: 50%;
}
.aboutmeimg img {
  position: relative;
  overflow: hidden;
  max-width: 100%;
  border-radius: 50%;
  margin: 0 auto;
  bottom: 50px;
}

.aboutmetxt h5 {
  position: relative;
  bottom: 50px !important;
  text-align: center;
}
.aboutmetxt p,
.aboutmetxt h3 {
  position: relative;
  bottom: 40px;
  text-align: center;
}

.aboutmebtn {
  width: 90%;
  margin: 0 auto;
}
.aboutmebtn a {
  position: relative;
  width: 49%;
  bottom: 54px;
  color: #fff;
  font-size: 1.6rem;
}

#modal-pedro > div > div > div.modal-body {
  background-color: transparent;
}

#modal-pedro > div > div {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 40px;
  width: 360px;
  height: 222px;
}

#modal-pedro > div > div > div.modal-header {
  background-color: transparent;
}

/*# sourceMappingURL=style.css.map */
